input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

section#formContainer {
    position: relative;
    display: flex;
    height: 100%;
    width: 25%;
    background: rgba( 200, 200, 200, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
}

#form {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    color: #fff;
}

#form > div {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    height: 55px;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='number'],
    select,
    button{
        -webkit-appearance: none;
        -moz-appearance: none;
        --active: #e85d04;
        --disabled: #555;
        --active-inner: #fff;
        --active-inner-disabled: #aaa;
        --focus: 2px rgba(232, 93, 4, .25);
        --border: #BBC1E1;
        --border-hover: #f48c06;
        --background: #fff;
        height: 30px;
        font-size: 1.1em;
        border-radius: 10px;
        margin: 5px 0;
    }

    input[type='checkbox'] {
        width: 25px;
        margin: 5px 0;
    }

    input[type='checkbox']:checked:enabled {
        background: var(--active);
        border: solid 2px var(--active-inner);
    }

    input[type='checkbox']:checked:disabled {
        background: var(--disabled);
        border: solid 2px var(--active-inner-disabled);
    }

    input[type='number'] {
        height: 25px;
    }

    select {
        padding-left: 5px;
    }

    button {
        width: 80%;
        border: none;
        border-radius: 10px;
    }

    input[type='checkbox'],
    input[type='number'],
    select {
        border: 2px solid var(--border);
        background: var(--background);
        border: 1px solid var(--bc, var(--border));
    }

    input[type='checkbox']:active:enabled,
    input[type='number']:active,
    select:active {
        border: 2px solid var(--active);
    }

    input[type='checkbox']:hover:enabled,
    input[type='number']:hover,
    select:hover {
        border: 2px solid var(--border-hover);
    }

    button:hover:enabled {
        background: var(--border-hover);
        color: #fff;
    }
}

input[type=range] {
    -webkit-appearance: none;
    margin: 5px 0;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 30px;
    background: #e85d04;
    cursor: pointer;
    border-radius: 10px;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
}

input[type=range]::-moz-range-thumb {
    border: 0px solid transparent;
    height: 15px;
    width: 30px;
    border-radius:10px;
    background: #e85d04;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 30px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0px solid transparent;
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0px solid transparent;
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    border: 0px solid transparent;
    height: 15px;
    width: 30px;
    border-radius: 10px;
    background: #e85d04;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}