input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

section {
    position: relative;
    display: flex;
    height: 100%;
    width: 25%;
    background: dimgrey;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    font-size: .85em;
    color: #fff;
}

form > div {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    height: 45px;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='number'],
  select,
  button{
    -webkit-appearance: none;
    -moz-appearance: none;
    --active: #e85d04;
    --active-inner: #fff;
    --focus: 2px rgba(232, 93, 4, .25);
    --border: #BBC1E1;
    --border-hover: #f48c06;
    --background: #fff;
    height: 25px;
    border-radius: 1px;
  }

  input[type='checkbox'] {
      width: 25px;
      margin: 0;
  }

  input[type='checkbox']:checked {
    background: var(--active);
    border: solid 2px var(--active-inner);
  }

  input[type='number'] {
      height: 25px;
  }

  select {
      padding-left: 5px;
  }

button {
    width: 80%;
    border: none;
    border-radius: 1px;
}

input[type='checkbox'],
input[type='number'],
select {
    border: 2px solid var(--border);
    background: var(--background);
    border: 1px solid var(--bc, var(--border));
}

  input[type='checkbox']:active,
  input[type='number']:active,
  select:active {
      border: 2px solid var(--active);
  }

  input[type='checkbox']:hover,
  input[type='number']:hover,
  select:hover {
      border: 2px solid var(--border-hover);
  }

  button:hover {
      background: var(--border-hover);
      color: #fff;
  }
}