window {

}

body {
    position: absolute;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

section {
    display: grid;
    /* height: 30px;
    width: 30px; */
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
}

div {
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
    background-color: brown;
}

div.alive {
    background-color: greenyellow;
}

div.dead {
    background-color: orangered;
}